body {
  padding-top: 60px;
}

#my-ip {
text-align: center;
font-size: 48px;
margin-bottom: 15px;
}

label {
font-weight: bold;
}

div.chat {
overflow: auto;
height: 250px;
border: 1px solid #444;
background: #eee;
padding: 0 10px;
}

div.chat > div {
margin-left: 100px;
}

.from {
font-style: italic;
font-weight: bold;
display: inline-block;
margin-left: -100px;
float: left;
}

div.peers {
position: relative;
overflow: auto;
height: 250px;
border: 1px solid #444;
background: #666;
padding: 0 10px;
}

div.peers > div {
color: yellow;
}

#add-peer {
position: absolute;
bottom: 7px;
right: 7px;
}

#user-name {
width: 90px;
}

#message-text {
width: 492px;
}

.input-append {
margin-top: 15px;
}
