<!DOCTYPE html>
<html ng-app="gdgPackagedApp" ng-csp>
<head>
  <link href="/css/bootstrap.css" rel="stylesheet">
  <link href="/css/gdg-pa.css" rel="stylesheet">
</head>

<body ng-controller="NavController">

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav">
          <li class="{{ navClass('') }}"><a ng-click="nav('')">Chat</a></li>
          <li class="{{ navClass('about') }}"><a ng-click="nav('about')">About</a></li>
        </ul>
        <div class="pull-right">
          <button class="btn" ng-click="newWindow()">New Window</button>
        </div>
      </div>
    </div>
  </div>


  <div class="container" ng-view></div>

  <script src="/js/jquery.js"></script>
  <script src="/js/bootstrap.js"></script>
  <script src="/js/angular.js"></script>
  <script src="/js/focus.js"></script>
  <script src="/js/namespace-plus.js"></script>
  <script src="/js/network.js"></script>
  <script src="/js/message-service.js"></script>
  <script src="/js/app.js"></script>
</body>
</html>
