<div id="my-ip">{{ udpServer.getIP() }} : {{ udpServer.getPort() }}</div>

<div class="row">
    <div class="chat span6">
      <div ng-repeat="message in messages">
        <span class="from">{{ message.from }}</span>{{ message.text }}
      </div>
    </div>

    <div class="peers span2">
      <div ng-repeat="peer in peers">
        {{ peer.address }}:{{ peer.port}}
        <a ng-click="removePeer(peer)">
          <i class="remove-peer icon-remove-sign icon-white"/>
      </div>
      <a href="#peer-dialog" data-toggle="modal">
        <i id="add-peer" class="icon-plus-sign icon-white"/>
      </a>
    </div>
</div>

<form class="input-append">
  <input id="user-name" type="text" placeholder="user name"
         ng-model="userName" ng-focus="focusName">
  <input id="message-text" class="input-block-level" type="text"
         ng-model="messageText" ng-focus="focusMessage">
  <input type="submit" class="btn" ng-click="sendMessage();" value="Send"/>
</form>

<div ng-hide="errorMessage == ''" class="alert">
  <button type="button" class="close" ng-click="showError('');">&times;</button>
  <span>{{ errorMessage }}&nbsp;</span>
</div>

<!-- TODO: Use angularUI instead of bootstrap? -->
<div id="peer-dialog" class="modal hide fade">
  <form ng-submit="submit()" ng-controller="PeerDialog">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3>Add Peer Address</h3>
    </div>
    <div class="modal-body">
      <input id='peer-address' type="text" placeholder="IP:port"
             ng-model="peerAddress">
    </div>
    <div class="modal-footer">
      <div ng-hide="errorMessage == ''" class="alert">
        <button type="button" class="close" ng-click="showError('');">&times;</button>
        <span>{{ errorMessage }}&nbsp;</span>
      </div>
      <input type="submit" class="btn btn-primary" value="Add Peer"/>
    </div>
  </form>
</div>
