<label>User name: </label><input id="user-name" type="text" placeholder="enter user name" ng-model="userName">
<div class="chat">
  <div ng-repeat="message in messages">
    <span class="from">{{ message.from }}</span>{{ message.text }}
  </div>
</div>
<form class="input-append">
  <input class="input-block-level" type="text" ng-model="messageText">
  <input type="submit" class="btn" ng-click="sendMessage();">Send</button>
</form>
<div ng-hide="errorMessage == ''" class="alert">
  <button type="button" class="close" ng-click="showError('');">&times;</button>
  <span>{{ errorMessage }}&nbsp;</span>
</div>
