<div id="my-ip">{{ udpServer.getIP() }} : {{ udpServer.getPort() }}</div>


<label for="targets">Send to: </label>
<input id="targets" type="text" placeholder="enter target addresses" ng-model="targets">

<div class="chat">
  <div ng-repeat="message in messages">
    <span class="from">{{ message.from }}</span>{{ message.text }}
  </div>
</div>
<form class="input-append">
  <input id="user-name" type="text" placeholder="user name"
         ng-model="userName" ng-focus="focusName">
  <input id="message-text" class="input-block-level" type="text"
         ng-model="messageText" ng-focus="focusMessage">
  <input type="submit" class="btn" ng-click="sendMessage();">Send</button>
</form>
<div ng-hide="errorMessage == ''" class="alert">
  <button type="button" class="close" ng-click="showError('');">&times;</button>
  <span>{{ errorMessage }}&nbsp;</span>
</div>
